<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <h1>상품 목록</h1>
                <th>ID</th>
                <th>상품명</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${productList}">
                <td th:text="${product.no}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.stock}"></td>
                <td><a th:href="@{/product/update/{no} (no=${product.no})}">Update</a></td>
                <td><a th:href="@{/product/delete/{no} (no=${product.no})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>