<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <form th:action="@{/product/update/} + ${no}" method="post">
        <!--      // post를 허용해야함-->
        <div class="form-group">
            <label for="name">상품명</label>
            <h1>상품 갱신</h1>

            <input type="text" id="name" name="name" placeholder="변경 제품명">
            <input type="int" id="price" name="price" placeholder="변경 가격">
            <input type="int" id="stock" name="stock" placeholder="변경 재고량">
        </div>
        <button type="submit">상품 갱신</button>
    </form>
</div> <!-- /container -->
</body>
</html>